<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :application %><br />
    <%= f.text_field :application %>
  </div>
  <div class="field">
    <%= f.label :environment %><br />
    <%= f.text_field :environment %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :controller %><br />
    <%= f.text_field :controller %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :request_url %><br />
    <%= f.text_area :request_url %>
  </div>
  <div class="field">
    <%= f.label :request_params %><br />
    <%= f.text_area :request_params %>
  </div>
  <div class="field">
    <%= f.label :request_data_type %><br />
    <%= f.text_field :request_data_type %>
  </div>
  <div class="field">
    <%= f.label :request_data %><br />
    <%= f.text_area :request_data %>
  </div>
  <div class="field">
    <%= f.label :session_id %><br />
    <%= f.text_field :session_id %>
  </div>
  <div class="field">
    <%= f.label :session_data_type %><br />
    <%= f.text_field :session_data_type %>
  </div>
  <div class="field">
    <%= f.label :session_data %><br />
    <%= f.text_area :session_data %>
  </div>
  <div class="field">
    <%= f.label :additional_data_type %><br />
    <%= f.text_field :additional_data_type %>
  </div>
  <div class="field">
    <%= f.label :additional_data %><br />
    <%= f.text_area :additional_data %>
  </div>
  <div class="field">
    <%= f.label :backtrace %><br />
    <%= f.text_area :backtrace %>
  </div>
  <div class="field">
    <%= f.label :node %><br />
    <%= f.text_field :node %>
  </div>
  <div class="field">
    <%= f.label :pid %><br />
    <%= f.text_field :pid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
