%h1<
  = link_to @account.application, @account

%p= will_paginate @events

- @events.group_by { |e| l(e.created_at, :format => :iso_date) }.each do |date, events_per_day|
  .content
    %h3<
      = date
      %span{:class => "count"}<
        = events_per_day.length
    %ul{:class => "event_list"}
      - events_per_day.each do |event|
        %li{:class => cycle("even", "odd", :name => "row_class")}
          %span{:class => "time"}><
            = l event.created_at, :format => :time
          %span{:class => "level#{event.level}"}><
            = event.level_name
          %span{:class => "application"}><
            = event.application
          %span{:class => "node"}><
            = event.node
          %span{:class => "controller"}><
            = event.controller
          %span{:class => "action"}><
            = event.action
          %span{:class => "title"}><
            = truncate(event.title)
          = link_to t('phrases.show_ellipse'), account_event_path(@account, event)

%p= will_paginate @events
