%h1<
  = t 'event.index'

%p= link_to I18n.t('phrases.all'), events_path

%p= will_paginate @events

- @events.group_by { |e| l(e.created_at, :format => :iso_date) }.each do |date, events_per_day|
  .content
    %h3<
      = date
      %span{:class => "count"}<
        = events_per_day.length
    %ul{:class => "event_list"}
      - events_per_day.each do |event|
        %li{:class => cycle("even", "odd", :name => "row_class")}
          %span{:class => "time"}><
            = l event.created_at, :format => :time
          %span{:class => "level#{event.level}"}><
            = event.level_name
          %span{:class => "application"}><
            = link_to_event_by_application(event.application, event)
          %span{:class => "environment"}><
            = link_to_event_by_application(event.environment, event)
          %span{:class => "node"}><
            = link_to_event_by_application_and_node(event.node, event)
          %span{:class => "controller"}><
            = link_to_event_by_application_and_controller(event.controller, event)
          %span{:class => "action"}><
            = link_to_event_by_application_and_action(event.action, event)
          %span{:class => "title"}><
            = link_to_event_by_application_and_title(truncate(event.title), event)
          = link_to t('phrases.show_ellipse'), event

%p= link_to I18n.t('phrases.all'), events_path

%p= will_paginate @events
