.content
  %p
    = l @event.created_at
    = link_to I18n.t('phrases.back'), :back

  %h2{:class => "level#{@event.level}"}= "#{@event.title} (#{@event.level_name})"

  %code.message= @event.message

  - [:application, :controller, :action, :request_url, :session_id, :node, :pid, :backtrace].each do |name|
    - if value = @event.send(name)
      = attribute_detail(name, value.to_s)
  
  - if @event.additional_data
    - @event.additional_data.each do |item|
      - @key = item['key']
      = render :partial => 'hide_additional_data_item'

  - @history.each do |event|
    %p= event.time
