<p id="notice"><%= notice %></p>

<p>
  <span class="label">Title:</span>
  <%= @event.title %>
</p>

<p>
  <span class="label">Message:</span>
  <%= @event.message %>
</p>

<p>
  <span class="label">Created at:</span>
  <%= @event.created_at %>
</p>

<p>
  <span class="label">Application:</span>
  <%= @event.application %>
</p>

<p>
  <span class="label">Environment:</span>
  <%= @event.environment %>
</p>

<p>
  <span class="label">Version:</span>
  <%= @event.version %>
</p>

<p>
  <span class="label">Controller:</span>
  <%= @event.controller %>
</p>

<p>
  <span class="label">Action:</span>
  <%= @event.action %>
</p>

<p>
  <span class="label">URL:</span>
  <%= @event.request_url %>
</p>

<p>
  <span class="label">Session-ID:</span>
  <%= @event.session_id %>
</p>

<p>
  <span class="label">Node:</span>
  <%= @event.node %>
</p>

<p>
  <span class="label">Pid:</span>
  <%= @event.pid %>
</p>

<p>
  <span class="label">Backtrace:</span>
  <pre><%= @event.backtrace %></pre>
</p>

<p>
  <span class="label">Request params:</span>
  <pre><%= @event.request_params %></pre>
</p>

<%= render :partial => 'hide_request_data' %>

<p>
  <span class="label">Session data:</span>
  <pre><%= @event.session_data %></pre>
</p>

<p>
  <span class="label">Additional data:</span>
  <%= @event.additional_data %>
</p>

<%= link_to 'Back', events_path %>
