<h2><%= @event.title %></h2>

<p id="notice"><%= notice %></p>

<% [:message, :created_at, :application, :environment, :version,
    :controller, :action, :request_url, :session_id, :node, :pid,
    :backtrace].each do |name| %>
  <% if value = @event.send(name) %>
    <%= render :partial => "attribute", :locals => {:name => name, :value => value}%>
  <% end %>
<% end %>


<% name = :backtrace %>
<% if value = @event.send(name) %>
  <%= render :partial => "attribute", :locals => {:name => name, :value => content_tag('pre', value)}%>
<% end %>

<% name = :request_params %>
<% if value = @event.send(name) %>
  <%= render :partial => "attribute", :locals => {:name => name, :value => content_tag('pre', value)}%>
<% end %>

<%= render :partial => 'hide_request_data' %>

<% name = :session_data %>
<% if value = @event.send(name) %>
  <%= render :partial => "attribute", :locals => {:name => name, :value => content_tag('pre', value)}%>
<% end %>

<% name = :additional_data %>
<% if value = @event.send(name) %>
  <%= render :partial => "attribute", :locals => {:name => name, :value => content_tag('pre', value)}%>
<% end %>

<%= link_to 'Back', events_path %>
